---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import { projects } from "../content/data/db";
import ProjectSection from "../components/ProjectSection.astro";
---
<Layout title="Jose Bautista - Proyectos" page={1}>
    <main class="mx-32 my-12">
        <h1 class="underline font-extrabold text-4xl text-blue-500">Mis proyectos</h1>
        {
            projects.map(project =>
                <ProjectSection
                    slug={ project.slug }
                    name={ project.name }
                    description={ project.description }
                    technologies={ project.technologies }
                />
            )
        }
    </main>
</Layout>