---
interface Props {
    page?: number;
}

const { page } = Astro.props as Props;
---

<div id="navbar" class="bg-gray-200 shadow-lg py-8">
    <ul class="flex">
        <li class="mx-4"><a class={`${ page == 0 ? "bg-blue-500 text-white" : ""} hover:bg-blue-500 rounded-md hover:text-white text-lg font-extrabold text-blue-500`} href="/">Inicio</a></li>
        <li class="mx-4"><a class="hover:bg-blue-500 rounded-md hover:text-white text-lg font-extrabold text-blue-500" href="/#home-skills">Habilidades</a></li>
        <li class="mx-4"><a class={`${ page == 1 ? "bg-blue-500 text-white" : ""} hover:bg-blue-500 rounded-md hover:text-white text-lg font-extrabold text-blue-500`} href="/projects">Proyectos</a></li>
        <li class="ml-12"><a class="text-lg font-extrabold text-blue-500 border-solid border-2 border-light-blue-500" id="contact" href="mailto:josehihat@gmail.com">Contactame</a></li>
    </ul>
</div>
<script src="../scripts/navbar.js"></script>
