<div id="navbar" class="text-gray-100 bg-gray-700 shadow-lg py-10">
    <ul class="flex">
        <li class="mx-4"><a class="underline text-xl font-extrabold" href="/">Inicio</a></li>
        <li class="mx-4"><a class="underline text-xl font-extrabold" href="/#home-skills">Habilidades</a></li>
        <li class="mx-4"><a class="underline text-xl font-extrabold" href="/projects">Proyectos</a></li>
        <li class="ml-12"><a class="underline text-xl font-extrabold" id="contact" href="#">Contactame</a></li>
    </ul>
</div>
<script src="../scripts/navbar.js"></script>
