---
import "../styles/global.css";
import TecnologyLabel from "./TecnologyLabel.astro";

import type { ProjectSectionProps } from "../interfaces/Interface";

const { slug, name, description, technologies } = Astro.props as ProjectSectionProps;
---
<a class="project-card" href={`/projects/${slug}`}>
    <div class="transition duration-300 ease-in-out bg-gray-200 rounded-md mt-6 p-12 shadow-lg hover:bg-gray-300">
        <h1 class="underline font-extrabold text-blue-700 text-4xl">{ name }</h1>
        <div class="project-content flex-col mt-4">
            <p class="text-blue-900 font-semibold text-xl">{ description }</p>
            <div class="mt-4 flex justify-end">
                { technologies.map(technolgy => <TecnologyLabel name={ technolgy } />) }
            </div>
        </div>
    </div>
</a>