---
import SkillsCategory from "./SkillsCategory.astro";
import { skills } from "../content/data/db";
---
<div id="home-skills" class="my-6 p-12 rounded bg-gray-200 mx-32 shadow-lg">
    <h1 class="underline text-blue-500 font-extrabold text-2xl">Habilidades</h1>
    <div class="grid grid-cols-2" id="skills">
        {
            Object.entries(skills).map(([category, skills]) =>
                <SkillsCategory
                    category={ category }
                    skills={ skills }
                />
            )
        }
    </div>
</div>
