---
import type { Skill, SkillsCategoryProps } from "../interfaces/Interface";

const { category, skills } = Astro.props as SkillsCategoryProps;
---
<div class="mt-4 mx-4 rounded text-2xl p-6 bg-gray-300">
    <h2 class="underline text-2xl font-extrabold text-blue-700">{ category }</h2>
    <div class="skillscat">
        {
            skills
            .slice()
            .sort((a: Skill, b: Skill) => b.level - a.level)
            .map((skill: Skill) =>
                <div style="display:flex;align-items:center;justify-content:space-between;">
                    <p style="width:50%;" class="font-semibold text-xl text-blue-900">{ skill.name }</p>
                    <div class="rounded bg-white m-2" style="width:80%;">
                        <div class="rounded bg-blue-500" style={`width: ${skill.level <= 100 ? skill.level : 100}%;`}>
                            <p class="flex mx-4 font-extrabold text-xl text-white">{ skill.level }%</p>
                        </div>
                    </div>
                </div>
            )
        }
    </div>
</div>
