---
import type { TechnologyLabelProps } from '../interfaces/Interface';

const { name } = Astro.props as TechnologyLabelProps;
---
<div style="display:flex;align-items:center;justify-content:center;" class="bg-blue-600 mx-1 rounded-lg px-2 py-1 text-md font-bold text-white">
    <span class="mx-2">{ name }</span>
</div>