---
interface Props {
    name: string;
}
const { name } = Astro.props as Props;
---
<div style="border:1px solid white;display:flex;align-items:center;justify-content:center;" class="mx-1 rounded-lg px-2 py-1 text-white text-md font-bold">
    <span class="mx-2">{ name }</span>
</div>