---
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import type { Project } from "../../interfaces/Interface";
import { projects } from "../../content/data/db";
import TecnologyLabel from "../../components/TecnologyLabel.astro";
import Carousel from "../../components/react/Carousel.jsx";

export function getStaticPaths() {
    return projects.map((project: Project) => ({
        params: { slug: project.slug },
        props: { project }
    }))
};

interface Props {
    project: Project;
}

const { project } = Astro.props as Props;
---
<Layout title={`Jose Bautista - ${project.name}`}>
    <div style="display:flex;flex-direction:column;justify-content:center;" class="shadow-lg rounded-lg mx-32 bg-gray-200 mt-8 p-8">
        <a href={`${project.repository}`} class="text-blue-500 text-4xl font-extrabold underline ml-6 mb-4">{ project.name }</a>
        {
            project.description 
            && <p class="text-black font-leading text-lg bg-gray-100 p-1 rounded-lg ml-8 mb-4">{ project.description }</p>
        }
        <div class="mx-8 flex-col" style="display:flex;justify-content:center;">
            <Carousel repo={ project.repository } imgs={ project.imgs } client:load />
            <div class="flex justify-end mt-4">
                {
                    project.technologies.map(technolgy =>
                        <TecnologyLabel name={ technolgy } />
                    )
                }
            </div>
        </div>
    </div>
</Layout>
